<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FVTC.CarRental.Data.Properties.Settings.DBEversonConnectionString"
            connectionString="Data Source=xxxx;Initial Catalog=xxxx;User ID=xxxx;Password=xxxx"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>