<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FVTC.CarRental.Data.Properties.Settings.DBEversonConnectionString"
            connectionString="Data Source=10.4.171.83;Initial Catalog=DBEverson;Persist Security Info=True;User ID=CMLogin;Password=CMLogin"
            providerName="System.Data.SqlClient" />
        <add name="FVTC.CarRental.Data.Properties.Settings.DBEversonConnectionString1"
            connectionString="Data Source=footesqlserver;Initial Catalog=DBEverson;User ID=CMLogin;Password=CMLogin"
            providerName="System.Data.SqlClient" />
        <add name="FVTC.CarRental.Data.Properties.Settings.DBEversonConnectionString2"
            connectionString="Data Source=10.4.171.83;Initial Catalog=DBEverson;User ID=CMLogin;Password=CMLogin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>